<h1>-- Import a new recipe --</h1>

<form action="/recipes_import" method="get">
  What ingredient would you like a recipe for?<br>
  <input type="text" name=ingredient><br>
  <input type="submit" value=Submit>
</form>
