<h1>-- Add a new recipe --</h1>

<form action="/recipes" method="post">
  What is the name of the recipe you want to add?<br>
  <input type="text" name=name><br>
  Please enter a description<br>
  <input type="text" name=description><br>
  What is the preparation time for your recipe?<br>
  <input type="text" name=prep_time<br><br>
  <input type="submit" value=Submit>
</form>
